project_id        = "myproject"
region            = "us-east1"
zone              = "us-east1-b"
network_project   = "default"
network           = "default"
subnetwork        = "default"
client_ip_range   = "10.0.0.0/8"
template_name     = "nat-tpl"
health_check_name = "nat-gw"
fw_rule_name      = "nat-fw"
group_name        = "nat-mig"
address_name      = "nat-addr"
service_account   = "nat-gw"
instance_type     = "g1-small"
vm_image          = "debian-cloud/debian-9"
disk_type         = "pd-standard"
disk_size_gb      = 32
template_version  = "v1"
