project_id = "myproject"
bucket_name = "mybucket"
cluster_name = "cluster1"
region = [
  "us-east1",
  "us-east1",
  "us-east1",
  "us-east1",
]
zone = [
  "us-east1-b",
  "us-east1-b",
  "us-east1-b",
  "us-east1-b",
]
subnetwork = [
  "default",
  "default",
  "default",
  "default",
]
vm_image = "debian-cloud/debian-9"
garb_instance_type = "f1-micro"
garb_zone = "us-east1-a"
garb_region = "us-east1"
garb_subnetwork = "default"
network_project = "default"
network = "default"
service_account = "mariadb"
instance_type = "g1-small"
client_ip_range = "10.0.0.0/8"
pass = "changeit"
replpass = "changeit"
statspass = "changeit"
disk_size_gb = 32
disk_type = "pd-standard"
health_check_name = "mariadb"
databases = "db"
template_version = "v1"